{% layout "layout" %}
{% block title %}Vodka Chick im Latex Kleid • App{% endblock %}

{% block teaser %}

{% endblock %}

{% block content %}

<div class="row content">
    <div class="col-sm-4 col-md-3">
        {% include "navbar" %}
    </div>
    <div class="col-sm-8 col-md-9">
        {% include "gallery" %}
        <!-- <div class="isout well">
            <p>You're not logged in</p>
        </div> -->
    </div>

</div>
{% endblock %}